
// Colors
$color-logo-green: #57AF70;
$color-logo-orange: #D77028;
$color-logo-blue: #5D9AC9;
$color-logo-grey: #8D9BAC;

$color-white: #fff;
$color-black: #000;

// Shadows
$shadow-softest: rgba($color-black, .15);
$shadow-soft: rgba($color-black, .2);
$shadow-hard: rgba($color-black, .5);
$shadow-hardest: rgba($color-black, .8);


// Font sizes
$font-size-small: 1rem;
$font-size-default: 1.6rem;
$font-size-medium: 2.4rem;
$font-size-large: 3.6rem;

// Border Radius
$border-radius-default: 3px;